body {
  background-color:white;
}

a {
  color: #008000;
  /* background-color: #dddddd; */
}

header {
  border:0px dotted black;
}

h1 {
  font-family: "Courier", Courier, sans-serif;
  display: inline;
  color: hotpink;
  /* margin: 2em; */
}

.header-buttons {
  float:right;
  display: inline;
  width:40%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

.contactul {
  list-style-type: circle;
}

.contactli {
  float:left;
}

li a {
  display: block;
  /* float: right; */
  text-align: center;
  padding: 0.25em 1em;
  text-decoration: none;
}

li a:hover {
  color: hotpink;
}

h2 {
  font-family: "Courier", Courier, sans-serif;
  color: hotpink;
}

.Intro {
  float:left;
  display: inline-block;
  font-family: "Helvetica", Times, serif;

  width:49%;
  height:70vh;
  border:0px solid black;
}

.Intro p {
  font-size: 1.0em;
}

.Contact-Intro {
  float:left;
  font-family: "Helvetica", Times, serif;
  width:100%;
  height:30%;
  border:0px solid black;
  padding-bottom: 2em;
}

.centered {
  margin: auto;
  width: 900px;
  border:4px solid #FAD5FD;
  overflow-x: hidden;
}

.topic-intro {
  margin: auto;
  width: 80%;
  border:0px solid black;
  text-align: center;
}

.topic-intro p {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.caption {
  width: 600px;
}

.caption p {
  font-size: 0.9em;
}

.subcat-img {
  display: block;
  margin: auto;
  /* width: 50%; */
}

.wide {
  width: 100%;

}

.subcategory-header {
  text-align: center;

}

.collage-img {
  display:inline;
  width: 100%;
  height: auto;
  /* float:right; */
  /* width:49%; */
}

.Collage {
  border:0px solid black;
  float:right;
  display:inline-block;
  width: 49%;
  height: 70vh;

}

.Collage h2 {
  text-align: center;
}

.Collage img {
  width:100%;
  height:auto;
}

.data-diagram {
  width:100%;
  height: auto;

}

.links {
  float:left;
  display:block;
  border:0px solid black;
  width:100%;
  height:20vh;
}

.bottom-div {
  display: table;
  margin: 0 auto;
}

.bottom-links {
  padding-top: 2em;
  border:0px solid black;
}



.source {
  color: hotpink;
}

.added {
  color: black;
}

.body {
  color: black;
}

.CATable-Header {
  width:414.5px;
  text-align:center;
}

.left {
  float:left;
  width: 48%;
}

.right {
  float: right;
  width: 48%;
}

.Table-Header h2 {
  font-family: "Courier", Courier, sans-serif;
  color: hotpink;
  text-align: center;

}

.pre-tables h2 {
  font-family: "Courier", Courier, sans-serif;
  color: hotpink;
  text-align: center;
  border:0px solid black;
}
/* this is the div surrounding the table */
.CATable {
  overflow-y:scroll;
  height: 200px;
  width:100%;
  display: inline-block;
  padding-bottom: 2em;
}

/* this table div is set up for vertical scrolling */
.ASSESSTable {
  overflow-y: scroll;
  height: 200px;
  width: 48%;
  display: inline-block;
  padding-bottom: 2em;
}

.Table-Header {
  overflow-y: hidden;
  height: 200px;
  width: 48%;
  display: inline-block;
  padding-bottom: 2em;
  border:0px solid black;
}

.graph-table {
  overflow-y: hidden;
  height: 400px;
  width: 48%;
  padding-left: 0.5em;
  display: inline-block;
  border:0px solid black;
}

.avgtone_dist {
  display: inline;
  width: 100%;
  height: auto;
  /* border:1px solid black;
  vertical-align: middle; */
}


.graph-table {
  overflow-y: hidden;
  height: 200px;
  width: 48%;
  display: inline-block;
  padding-bottom: 2em;
}

.Table-Header p {
  font-family: "Helvetica", Times, serif;
  /* font-family: "Courier", Courier, sans-serif; */
  font-size: 0.85em;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.US p {
  font-size: 0.75em;
}

/* .ASSESSTable.FLR {
  overflow-x: scroll;
} */
/* this is the default class that comes with all to_html objects */
table.dataframe {
  border-collapse: collapse;
  /* overflow-x: scroll; */
  table-layout:fixed;
  width:400px;
  font-size: 0.9em;
  border:0px solid black;
}

table.assessment a {
  display: block;
  text-decoration: none;
}

/* this is a custom to_html class */
table.assessment {
  width:100%;
  display: inline-block;

}

table.curriculum a {
  display: block;
  text-decoration: none;
}

table.curriculum {
  width:100%;
  display: inline-block;
  border:0px solid black;

}

table.dataframe thead {
}

table.dataframe thead tr {
  border-color: white;
}

table.dataframe th {
  text-align: center;
  background-color: hotpink;
  color: white;
  font-family: "Courier", Courier, sans-serif;
  border-color: white;

}

table.dataframe tbody {
}

table.dataframe tbody tr {
  border-color: white;

}

table.dataframe tbody tr:hover {
  background-color: #f5f5f5;
}

table.dataframe td {
  word-wrap: break-word;
  padding: 5px;
  border-color:white;
}

table.assessment td {
  font-size: 0.9em;
}

table.curriculum td {
  font-size: 0.9em;

}

.curri-avgtone {
  width: 100%;
  height: 100%;
  border:1px solid black;
}


.plotly-boxplot {
  width:600px;
  height:450px;
  margin: auto;
}

.fields-list {
  width:70%;
  margin: auto;
  text-align: center;
  font-size: 0.9em;
}

.fields-list p {
  font-size: 0.9em;
}

.fields-list ol li {
  float: left;
}

/* table.FL {
  table-layout: fixed;
  /* width:400px; */
/*  */
