{% extends "layout.html" %}
{% block title %}
Common Core - GDELT Education
{% endblock %}
  {% block content %}
  <div class="centered">
    <h2 class="subcategory-header"> Key-phrase: Common Core </h2>
    <div class="topic-intro caption">
    <p> The Common Core was developed in 2009 by the National Governors Association (NGA)
      and the Council of Cheif State School Officers (CCSSO), and was finally published
      in June of 2010 [1]. The CCSSO is a non-partisan polical organization that consists
      of public officals who head deparments of elementary and secondary education in the
      United States. The NGA is similarly a non-paritsan public policy organization that
      is made up of governors from US states, territories, and commonwealths [3]. By
      2011 individual states had begun the process of reviewing, adopting, and ratifying
      the adoption of the Common Core State Standards, and as of 2015 42 states have adopted
      the CCSS in English Language Arts (ELA)/literacy and mathematics [1].
      </p>

      <p> Through the Tenth Amendment to the US Constitution, the roles of education and curriculum development are
        largely left up to individual States, and thus the Common Core was developed to provide consistent
        educational standards across states, and to ensure that students who graduate high school
        are prepared for college programs and to enter the workforce [4][5]. The standards were
        developed within two different categories: (1) standards to assess readiness for college education
        and entering the workforce, (2) educational expectations in ELA/literacy and math at the conclusion of each year of education
        from grades K-12 [1].
        While the Common Core Standards specify what students should know at the end of each grade,
        individual school districts are still resopnsible for choosing curricula based upon the standards [5].

        </p>
    </div>
  <iframe class="subcat-img" width="900" height="400" frameborder="0" scrolling="no" src="//plot.ly/~yohn_dezmon/17.embed"></iframe>
  <div class="topic-intro caption">
  <p> choropleth graph... mentions by state... yada yada
  </p>
  </div>
  <iframe class="subcat-img" width="900" height="400" frameborder="0" scrolling="no" src="//plot.ly/~yohn_dezmon/19.embed"></iframe>
  <iframe class="subcat-img" width="900" height="400" frameborder="0" scrolling="no" src="//plot.ly/~yohn_dezmon/21.embed"></iframe>

  <h2 class="subcategory-header"> Sources </h2>
  <div class="fields-list">
  <ol>
    <li><a href="http://www.corestandards.org/about-the-standards/development-process/">Development of the Common Core</a> </li>
    <li><a href="https://ccsso.org/about">About Page - Council of Chief State School Officers</li>
      <li><a href="https://www.nga.org/about/">About Page - National Governors Association</li>
        <li><a href="https://education.findlaw.com/curriculum-standards-school-funding/the-roles-of-federal-and-state-governments-in-education.html">Roles of Federal and State Governments in Education</li>
          <li><a href="https://en.wikipedia.org/wiki/Common_Core_State_Standards_Initiative">Common Core State Standards Initiative - Wikipedia</li>
  </ol>
  </div>
  </div>
  {% endblock %}
