{% extends "layout.html" %}
{% block title %}
ESSA - GDELT Education
{% endblock %}
  {% block content %}
  <div class="centered">
    <h2 class="subcategory-header"> Key Phrase: Every Student Succeeds Act </h2>
    <div class="topic-intro">
      <p> The Every Student Succeeds Act or ESSA was passed into law in December 2015 during
        the Obama administration. The ESSA limited the federal government's role in
        elementary and secondary education, in comparison to its predecessor, the 2001
        No Child Left Behind Act (NCLB). It maintained the standardized tests that were
        introduced in the NCLB, however it shifted the determination of standards
        to the states and their school districts. To ensure that states are achieveing
        their academic goals, the state determined standards are submitted to the Federal
        Department of Education for review, feedback, and eventual approval.
        </p>
        <p> Below we can see how the ESSA was received by the media since 2015 when it was first passed into law.</p>
    </div>
  <!-- box plot -->
  <iframe class="subcat-img" width="600" height="450" frameborder="0" scrolling="no" src="//plot.ly/~yohn_dezmon/3.embed"></iframe>
  <div class="topic-intro caption">
    <p> By hovering one's cursor over the boxes on the above boxplot, one can easily
      observe the median Average Tone of articles involving the ESSA partitoned over
      each year from 2015. Overall, the average tone for each year remains in the positive,
      suggesting that the Act has been generally accepted by the media in the US. 2018
      has the highest median of 2.35.
    </p>
  </div>
  <!-- Avg Tone -->
  <iframe class="subcat-img" width="900" height="450" frameborder="0" scrolling="no" src="//plot.ly/~yohn_dezmon/5.embed"></iframe>
  <div class="topic-intro caption">
    <p>
      This line-chart allows us to observe in more detail the peaks and troughs
      in average tone of articles covering the ESSA. By hovering one's mouse over the
      individual points in the graph, you can see the URL the point corresponds to
      and you can read the URL path to get an idea of what the article was about.
    </p>
    </div>
  <!-- Num Mentions -->
  <iframe class="subcat-img" width="900" height="450" frameborder="0" scrolling="no" src="//plot.ly/~yohn_dezmon/7.embed"></iframe>
  <div class="topic-intro caption">
    <p>
      Similar to the above line-chart, you can hover above the points in the graph to
      see the URLS of the articles that had the largest number of mentions.
      The number of mentions can be used to determine the general importance of
      a given article/event.
    </p>
    </div>
  </div>
  {% endblock %}
